<!DOCTYPE html>
<html>
	<head>
		<title>THEME_NAME preview</title>
	</head>

	<body>
		<h1 style="text-transform:capitalize">THEME_NAME palette preview</h1>

		<dl>
			<dt>Primary Text</dt>
			<dd>
				<svg height="100" width="100" viewBox="-50 -50 100 100">
					<circle cx="0" cy="0" r="40" fill="COLOR_TEXT_PRIMARY" />
				</svg>
			</dd>
		</dl>

		<dl>
			<dt>Secondary Text</dt>
			<dd>
				<svg height="100" width="100" viewBox="-50 -50 100 100">
					<circle cx="0" cy="0" r="40" fill="COLOR_TEXT_SECONDARY" />
				</svg>
			</dd>
		</dl>

		<dl>
			<dt>Primary Highlight</dt>
			<dd>
				<svg height="100" width="100" viewBox="-50 -50 100 100">
					<circle cx="0" cy="0" r="40" fill="COLOR_HIGHLIGHT_PRIMARY" />
				</svg>
			</dd>
		</dl>

		<dl>
			<dt>Secondary Highlight</dt>
			<dd>
				<svg height="100" width="100" viewBox="-50 -50 100 100">
					<circle cx="0" cy="0" r="40" fill="COLOR_HIGHLIGHT_SECONDARY" />
				</svg>
			</dd>
		</dl>

		<dl>
			<dt>Background</dt>
			<dd>
				<svg height="100" width="100" viewBox="-50 -50 100 100">
					<circle cx="0" cy="0" r="40" fill="COLOR_BACKGROUND" />
				</svg>
			</dd>
		</dl>

		<dl>
			<dt>Icon</dt>
			<dd>
				<svg height="100" width="100" viewBox="-50 -50 100 100">
					<circle cx="0" cy="0" r="40" fill="COLOR_ICON" />
				</svg>
			</dd>
		</dl>
	</body>
</html>
